<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">This is how my story goes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>SSLC</h4>
                            <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013</h4>
                                <h4 class="subheading">Completed SSLC</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I completed my 10th level schooling in 2013 as I wanted to become a software engineer, decided to pursue further education in science stream as Mathematics as a subject</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Plus Two</h4>
                            <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Completed twelth level</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As I completed my twelth standard, I wanted to do diploma in Computer Science to able to start working early</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>Diploma</h4>
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2018</h4>
                                <h4 class="subheading">Completed Diploma in Computer Science</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After completing diploma I was interested in doing an internship and I chose ISRO as a place to do my internship</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>ISRO</h4>
                            <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019 - 2020</h4>
                                <h4 class="subheading">Internship at ISRO</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I have done my internship as Technical Apprentice at VSSC, ISRO, Thiruvananthapuram</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>PHP <br> Developer</h4>
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021</h4>
                                <h4 class="subheading">Started working as PHP Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I started my job as PHP Developer in January 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>BCA</h4>
                            <!-- <img class="img-circle img-responsive" src="https://www.ncac.in/wp-content/uploads/2019/01/BCA.jpg" alt="Appu"> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022</h4>
                                <h4 class="subheading">Studying BCA</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As I started working I started thinking of doing a digree in computer science and I chose to do a distant course in BCA</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of My
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>